{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header post-head {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}">
          
	<nav class="main-nav {{#if feature_image}}overlay{{/if}} clearfix">
	{{navigation}}  
</header>

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>
		
			<div class="fb-comments" data-href="{{@site.url}}{{url}}" data-numposts="5"></div>

        <section class="social-share">
            {{> "social_share"}}
        </section>
		

        <footer class="post-footer">

 {{#has author="count:>1"}}
                    {{> "byline-multiple"}}
                {{else}}
                    {{> "byline-single"}}
                {{/has}}

        


        <section class="post-comments">
              <div id="disqus_thread"></div>
              <script type="text/javascript">
              // required: replace example with your forum shortname
              if(disqus_shortname && typeof disqus_shortname === "string") {
                  var disqus_identifier = '{{post.id}}';

                  /* * * DON'T EDIT BELOW THIS LINE * * */
                  (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
              }
              </script>
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </section>

        </footer>

    </article>
</main>
{{/post}}
